@mixin background-clip() {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

@mixin margin($top:null, $right:null, $bottom:null, $left:null) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}

@mixin padding($top:null, $right:null, $bottom:null, $left:null) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  paddin-left: $left;
}

@mixin font($family, $size, $style:normal, $weight:normal,$stretch:normal) {
  font-family: $family;
  font-size: $size;
  font-stretch: $stretch;
  font-weight: $weight;
  font-style: $style;
}

@mixin font-smoothing() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
