//
// Colors
//
$navy-blue: #0B0B45;
$highlight-grey: #7d828a;
$light-grey: #31333d;
$off-white: #edf0f1;
$material-dark: #121212;

//
// Nord colors
//
$nord0: #2E3440; // dark-grey
$nord6: #ECEFF4; // bright-white
$nord8: #88C0D0; // green-blue

$theme1: #352F44;
$theme2: #5C5470;
$theme3: #B9B4C7;
$theme4: #FAF0E6;

//
// Colorscheme
//

$text: $nord6;
$background: $material-dark;
$banner: $nord8;
$banner-text: $navy-blue;

//
// Font Stacks
//

$font: "Fira Sans";
$code-font: "Fira Code";
// $math-font: "Fira Math";

//
// Font Weights
//

$thin: 100;
$hairline: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;


// Font Sizes
// $harmonic-scalar: 1.325;
$harmonic-scalar: 1.16;
$font-size-base: 1.618rem;
$line-height: $harmonic-scalar;
//$line-height: $font-size-base;
$letter-spacing: 0.05em;

$font-size-h6: $font-size-base / $harmonic-scalar;
$font-size-h5: $font-size-base;
$font-size-h4: $font-size-h5 * $harmonic-scalar;
$font-size-h3: $font-size-h4 * $harmonic-scalar;
$font-size-h2: $font-size-h3 * $harmonic-scalar;
$font-size-h1: $font-size-h2 * $harmonic-scalar;
