@charset "UTF-8";

@use "animations";
@use "variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.6;
  height: 100%;
  letter-spacing: 0.06em;
  background: $background;
}

body {
  height: 100%;
}

h1 {
  font-weight: $black;
}

h2 {
  font-weight: $extra-bold;
}

h3 {
  font-weight: $bold;
}

menu {
  font-size: 1.2em;
  font-weight: $medium;
}

footer {
  font-weight: $light;
}

/* style regular text */
body,
button,
input,
select,
textarea {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: $font, sans-serif;
  color: $text;
  // text-rendering: optimizeLegibility;
}

/* handle buttons */
button {
  font-weight: 500;
  font-size: 1.6em;
  color: $text;
  text-decoration: none;

  padding: 9x 25px;
  background-color: rgba(0, 136, 169,1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  @include animations.underline-from-center;
  transition: all 0.3 ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 169,0.8);
}

/* style monospace text */
pre,
code,
pre tt {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $code-font, monospace;
}

pre {
  max-height: 40em;
  padding: 0.7em 1.1em;
  overflow: auto;
  font-size: 0.9em;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #eee;
  border-radius: 4px;
  -webkit-overflow-scrolling: touch;

  code {
    padding: 0;
    margin: 0;
    background-color: $nord0;
    // background: $theme1;
  }
}

pre {
  padding: 1rem;
  overflow: auto;
}
// The line numbers already provide some kind of left/right padding
pre[data-linenos] {
  padding: 1rem 0;
}
pre table td {
  padding: 0;
}
// The line number cells
pre table td:nth-of-type(1) {
  text-align: center;
  user-select: none;
}
pre mark {
  // If you want your highlights to take the full width.
  display: block;
  // The default background colour of a mark is bright yellow
  background-color: rgba(254, 252, 232, 0.9);
}

pre table {
  width: 100%;
  border-collapse: collapse;
}
code {
  color: #eee;
  background: $highlight-grey;
  border-radius: 3px;
  padding: 0 3px;
  margin: 0 4px;
  word-break: break-all;
  letter-spacing: normal;
}

blockquote {
  border-left: 0.25em solid;
  margin: 1em;
  padding: 0 1em;
  font-style: italic;

  cite {
    font-weight: bold;
    font-style: normal;

    &::before {
      content: "—— ";
    }
  }
}

a {
  color: $text;
  text-decoration: none;
  border: none;
  transition-property: color;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
  @include animations.underline-from-center;

  &:hover {
    color: $nord8;
  }

  &:focus {
    outline: none;
  }
}

hr {
  opacity: 0.5;
  border-width: 0 0 2px 0;
  background: transparent;
  width: 100%;
  margin: 1.8em auto;
  color: off-white;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  width: 100%;
  max-width: 100%;

  th,
  td {
    padding: 1.5%;
    border: 1px solid;
  }

  th {
    font-weight: 700;
    vertical-align: bottom;
  }
}
