@charset "UTF-8";


@use "flexbox";
@use "variables";

/* page: vertical-flex container */
.page {
  min-height: 100%;
  flex-flow: column wrap;
  @include flexbox.flexbox();
  @include flexbox.flex(1 1 auto);
}

.page {
  .page-header {
    max-height: 75px;
    padding: 15px 0%;
    justify-content: flex-end;
    align-items: center;
    line-height: normal;
    z-index: 1;
    @include flexbox.flexbox();
    @include flexbox.flex(0 0 auto);

    // color: variables.$navy-blue;
    // background-color: variables.$banner;
  }
  .page-body {
    border-top: variables.$off-white solid 1px;
    border-bottom: variables.$off-white solid 1px;
    justify-content: center;
    // align-content: start;
    // align-content: center;
    @include flexbox.flexbox();
    @include flexbox.flex(1 1 auto);
  }
  .page-footer {
    // color: variables.$navy-blue;
    // background-color: variables.$banner;

    max-height: 50px;

    p {
      font-size: 0.8em;
    }

    a {
      vertical-align: bottom;
      transform: none;
    }


    .taxonomies-container {
      .taxonomies {
        font-size: 0.8em;
        a {
          margin: 0px 0px 0px 5px;
        }
        .count {
          position: relative;
          top: -4px;
          right: -2px;
          color: variables.$text;
          font-size: 12px;
        }
      }
    }



    // align-items: center;
    // text-align: center;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 15px 0%;
    @include flexbox.flexbox();
    @include flexbox.flex(0 0 auto);
  }
}

/* content: horizontal-flex container */
.content {
  display: flex;
  flex-flow: row wrap;
  margin-top: 15px;
  max-height: 90%;
  max-width: 67%;
  @include flexbox.flexbox();
  @include flexbox.flex(1 1 auto);
}
// navigation

.next {
  float: right;
}

.prev {
  float: left;
}

.logo-link {
  cursor: pointer;
  margin-right: auto;
  // flex sized image?
  .logo {
    height: 24px;
    width: 24px;
  }
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
  a {
    transition: all 0.3 ease 0s;
    &:hover {
      color: variables.$nord8;
    }
  }
  svg {
    fill: variables.$text;
    height: 1.0em;
    vertical-align: -0.125em;
    // height: 1em;
    // width: 1em;
  }
}

