@charset "UTF-8";


@use "flexbox";
@use "variables" as *;

/* page: vertical-flex container */
.page {
  min-height: 100%;
  flex-flow: column wrap;
  @include flexbox.flexbox();
  @include flexbox.flex(1 1 auto);
}

.page {
  .page-header {
    max-height: 75px;
    padding: 15px 0%;
    justify-content: flex-end;
    align-items: center;
    line-height: normal;
    z-index: 1;
    @include flexbox.flexbox();
    @include flexbox.flex(0 0 auto);

    // color: variables.$navy-blue;
    // background-color: variables.$banner;
  }
  /* page body: horizontal-flex container */
  .page-body {
    border-top: $off-white solid 1px;
    border-bottom: $off-white solid 1px;
    justify-content: center;
    // align-content: start;
    // align-content: center;
    @include flexbox.flexbox();
    @include flexbox.flex(1 1 auto);
  }
  .page-footer {
    // color: variables.$navy-blue;
    // background-color: variables.$banner;

    max-height: 75px;
    text-align: center;

    .copyright {
      font-size: 1.0em;
      font-weight: $bold;
    }

    svg {
      height: 1em;
      width: 1em;
      // margin-left: -0.125em;
    }

    p {
      font-size: 0.8em;
    }

    a {
      vertical-align: bottom;
      transform: none;
    }


    .taxonomies-container {
      .taxonomies {
        font-size: 0.8em;
      }
    }



    // align-items: center;
    // text-align: center;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 15px 0%;
    @include flexbox.flexbox();
    @include flexbox.flex(0 0 auto);
  }
}

.content {
  flex-flow: column wrap;
  margin-top: 15px;
  max-height: 90%;
  max-width: 67%;
  @include flexbox.flexbox();
  @include flexbox.flex(1 1 auto);
}
// navigation

.next {
  float: right;
  a {
    vertical-align: -0.125em;
  }
}

.prev {
  float: left;
  a {
    vertical-align: -0.125em;
  }
}

.logo-link {
  cursor: pointer;
  margin-right: auto;
  // flex sized image?
  .logo {
    height: 50px;
    width: 50px
  }
}

.nav-link {
  vertical-align: 0.25rem;
}

.nav-links {
  list-style: none;
}

.nav-links .nav-link {
  display: inline-block;
  padding: 0px 20px;
  a {
    transition: all 0.3 ease 0s;
    &:hover {
      color: $nord8;
    }
  }
}
