@charset "UTF-8";

// @use "variables" as vars;
@use "variables";

.posts {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  margin-top: 5%;
  margin-bottom: 5%;
}

.post-title {
  margin: 0;
}

.post-summary {
  padding-bottom: 15px;
}

.post-meta {
  padding-bottom: 15px;
}
