@charset "UTF-8";

@use "flexbox";
@use "variables";

.posts {
  flex-flow: column wrap;
  justify-content: flex-start;
  margin-top: 5%;
  margin-bottom: 5%;
  @include flexbox.flexbox();
}

.post-title {
  margin: 0;
}

.post-summary {
  padding-bottom: 15px;
}

.post-meta {
  padding-bottom: 15px;
}
