@charset "UTF-8";

@use "variables";

//
// Search
//

.spotlight-search {
  display: flex;
  margin-bottom: 15px;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.search-page-bar {
  justify-content: start;
  width: 100%;
  max-height: 5%;
}

.search-container {
  display: flex;
  padding: 5px;
  border: 1px solid variables.$off-white;
  border-radius: 50px;
  width: 100%;
  justify-content: center;

  button[type="submit"] {
    display: inline-block;
    width: 40px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
  }
  #search {
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent;
    width: 100%;
    color: variables.$text;
    background-color: rgba(255, 255, 255, 0.0);
    justify-content: center;
  }
}

.search-results {
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  max-height: 90%;
  &-items {
    list-style: none;
  }
  &-item {
    a {
      font-size: 1.2rem;
      display: inline-block;
      margin-bottom: 0.5rem;
    }
  }
  li {
    margin-top: 1rem;
    border-bottom: 1px solid #ccc;
    font-size: 0.9rem;

    &:first-of-type {
      margin-top: 0;
    }
  }
}
