@charset "UTF-8";

@use "variables";

//
// spotlight
//

#spotlight {
  display: flex;
  flex-flow: column wrap;

  align-items: center;
  justify-content: center;

  margin: auto;
  max-width: 93%;
  font-size: 1.5rem;

  &.error-404 {
    flex-flow: row wrap;
    line-height: normal;
  }
}

.spotlight-center {
  display: flex;
  flex-flow: column wrap;

  flex-grow: 1;
  justify-content: center;
}

.spotlight-title {
  margin: auto;
  text-align: center;
}

.spotlight-quote {
  text-align: center;
  line-height: normal;
  font-size: 0.7em;
  font-style: italic;
}

.social-icons {
  font-size: 1.4em;
  text-align: center;
  opacity: 0.8;
  a {
    margin: 0 0.2em;
  }
}

//
// 404
//

p.img-404 {
  margin: 0;

  svg {
    width: 180px;
    max-width: 100%;
    height: auto;
  }
}

.banner-404 {
  margin-left: 2em;

  h1 {
    text-align: center;
    font-size: 3em;
    margin: 0.5rem 0;
  }

  p {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.6em;
  }

  .btn-404 {
    font-size: 0.8em;

    a {
      display: inline-block;
      border: 2px solid variables.$text;
      border-radius: 5px;
      padding: 5px;
      transition-property: color, border-color;
      word-break: break-all;

      &:first-child {
        margin-right: 1em;
      }

      &:hover {
        border-color: #fff;
      }

      svg {
        margin-right: 0.5em;
      }
    }
  }
}
