@charset "UTF-8";

// @use "fonts";

//
// Colors
//
$navy-blue: #0B0B45;
$highlight-grey: #7d828a;
$light-grey: #31333d;
$off-white: #edf0f1;
$material-dark: #121212;

//
// Nord colors
//
$nord0: #2E3440; // dark-grey
$nord6: #ECEFF4; // bright-white
$nord8: #88C0D0; // green-blue

$theme1: #352F44;
$theme2: #5C5470;
$theme3: #B9B4C7;
$theme4: #FAF0E6;

//
// Colorscheme
//

$text: $nord6;
$background: $material-dark;
$banner: $nord8;
$banner-text: $navy-blue;

//
// Fonts
//
$thin: 100;
$hairline: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

$font: "Fira Sans";
$code-font: "Fira Code";
$math-font: "Fira Math"
