@charset "UTF-8";

@use "fonts";

//
// Colors
//
$navy-blue: #0B0B45;
$highlight-grey: #7d828a;
$midnightblue: #31333d;
$off-white: #edf0f1;
// $dark-bg: #121212;
// $theme: #2e3440;
// $text: #c6cddb;
// $text: #eceff4;
// $dark-grey: #88C0D0;
// $highlight-grey: #7d828a;
// $dark-grey: #2e3440;
// $light-grey: #2e3440;

//
// Nord colors
//
$nord0: #2E3440; // dark-grey
$nord6: #ECEFF4; // bright-white
$nord8: #88C0D0; // green-blue

//
// Colorscheme
//

$text: $nord6;
// $background: $nord0;
$background: #121212;
$banner: $nord8;
$banner-text: $navy-blue;
$theme: #018574;

$font: fonts.$font;
$code-font: fonts.$code-font;
$math-font: fonts.$math-font;
