{% import "macros/posts.html" as posts %}
{% import "macros/icons.html" as icons %}

{% extends "base.html" %}

{% block page_body %}
  <div class="content">
    <div class="taxonomies-container">
      <div class="taxonomies-title">
        <a href="{{ current_url }}"><h1>Tags</h1></a>
      </div>
      <div class="taxonomies-items">
          {% for tag in terms %}
            <li>
              <span class="hash">
                {{ icons::render_hash_icon() }}
              </span>
              <span class="tag">
                <a href="{{ tag.permalink }}">{{ tag.name }}</a>
                <span class="count">{{ tag.pages | length }}</span>
              </span>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock page_body %}
