{% import "macros/icons.html" as icons %}

{% extends "base.html" %}

{% block page_body %}
  <div class="content">
    <div class="tags-container">
      <header class="tags-header">
        <h1 class="taxonomies-title">
          <a href="{{ current_url }}">
            Tags
          </a>
        </h1>
      </header>
      <ul class="taxonomies-tags">
        {% for tag in terms %}
          <li class="taxonomies-tag">
            <details class="taxonomies-tag">
              <summary>
                <a href="{{ tag.permalink }}">
                  #{{ tag.name }}
                </a>
                <span class="count">
                  {{ tag.pages | length }}
                </span>
              </summary>
              <ul class="taxonomies-tag-items">
                {% for page in tag.pages %}
                  <li class="taxonomies-tag-item">
                    <a href="{{ page.permalink }}">{{ page.title }}</a>
                  </li>
                {% endfor %}
              </ul>
              <div class="read-more">
                <a href="{{ tag.permalink }}">
                  See more...
                </a>
              </div>
            </details>
          </li>
        {% endfor %}
      </ul>
      <hr/>
      <div class="tags-total">
        {{ terms | length }} tags in total
      </div>
    </div>
  </div>
{% endblock page_body %}
