{% import "macros/icons.html" as icons %}

{% extends "base.html" %}

{% block page_body %}
  <div class="content">
    <div class="topics-container">
      <div class="topics-header">
        <h1 class="taxonomies-title">
          <a href="{{ current_url }}">
            Topics
          </a>
        </h1>
      </div>
      {% set json = load_data(path=config.extra.topics_metadata) %}
      {% for topic in terms %}
        <div class="taxonomies-topic">
          <h1 class="taxonomies-topic-title">
            <a href="{{ topic.permalink }}">
              {{ topic.name }}
            </a>
          </h1>
          <p class="taxonomies-topic-description">
            {{ json[topic.name] }}
          </p>
        </div>
      {% endfor %}
      <br/>
      {#
      <hr/>
      <div class="taxonomies-total">
        {{ terms | length }} categories in total
      </div>
      #}
    </div>
  </div>
{% endblock page_body %}
