@use "../abstracts/all" as *;

.posts {
  flex-flow: column wrap;
  justify-content: flex-start;
  // margin: 0 auto 0 auto;
  // margin-top: 5%;
  // margin-bottom: 5%;
  @include flexbox();
}

.post-title {
  margin: 0;
}

.post-summary {
  padding-bottom: 15px;
}

.post-meta {
  padding-bottom: 15px;
}

.post {
  @include flex(1 0 auto);
}
