@use "../abstracts/all" as *;

.posts {
  @include flexbox();
  @include justify-content(flex-start);
  @include flex-flow(( row wrap ));
  min-width: 67ch;
  max-width: 120ch;
}

.post {
}

.post-title {
  margin: 0.1em 0;
  font-weight: $extra-bold;
}

.post-summary {
  padding-bottom: 15px;
}

.post-meta {
  padding-bottom: 15px;
}

// .post {
//   @include flex($fg:1, $fs:0);
// }
