@use "../abstracts/all" as *;

// .post {
//   @include flex($fg:1, $fs:0);
// }

.posts {
  @include flexbox();
  @include justify-content(flex-start);
  @include flex-flow(( row wrap ));
  // min-width: 67ch;
  max-width: 80em;
}

.post-title {
  margin: 0.1em 0;
  font-weight: $extra-bold;
}

.post-summary {
  padding-bottom: 15px;
}

.post-meta {
  padding-bottom: 15px;
}

.pagination {
  width: 100%;
}

.next {
  float: right;
  margin-bottom: 1.8em;
  a {
    vertical-align: -0.125em;
  }
}

.prev {
  float: left;
  margin-bottom: 1.8em;
  a {
    vertical-align: -0.125em;
  }
}
