// @use "../abstracts/flexbox" as fb;
@use "../abstracts/all" as *;

//
// spotlight
//
.spotlight {
  @include keyframes(fade) {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  @include animate(fade, 1s, ease-out, 1);
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  @include flex-flow(( column wrap ));

  margin: auto;
  // width: 95%;
  max-width: 95%;
}

