@use "../abstracts/all" as *;

.hash {
  font-size: 0.8em;
  // transform: skewX(-30deg);
}

.tag {
  margin-left: -0.25em;
}

.count {
  position: relative;
  top: -8px;
  // right: -1px;
  color: $text;
  font-size: 0.8em;
  margin-left: -0.25em;
}

.expand {
  vertical-align: 0.125rem;
  background-color: rgba(255, 255, 255,0.0);
}
//
// taxonomies
//

.taxonomies-container {
  flex-flow: column wrap;
  @include flexbox();
}


.taxonomies {
  // margin: 2em 0 3em;
  text-align: center;
  // justify-self: start;
  // align-self: start;

  &-total {
    text-align: center;
  }

  &-title {
    // margin-bottom: 5px;
    // margin-left: 0px;
    display: inline-block;
    // font-size: 18px;
  }

  &-item {
    font-size: 2.0em;
    // &::before{
    //   display: inline-block;
    // }
    &::before {
      display:inline-block;
    }

    &::marker {
      // font-size: 2.0em;
      height: 3.0em;
      width: 2.0em;
    }
    a {
      // svg {
      //   // vertical-align: -0.125rem;
      //   height: 1.0em;
      //   width: 1.0em;
      // }
      // margin: 5px 10px;
      word-wrap: break-word;
      position: relative;

      &:hover {
        color: $nord6;
      }

    }
      // url("images/list-arrow-nord6.svg");
    // list-style: none;
  }


  &-items {
    padding-left: 1.5em;
    list-style-image:
      url("images/list-tag-nord6.svg");
  }



}

.taxonomies-footer {
  width: 100%;
  font-size: 0.8em;
  &-items {
    list-style: none;
    &> li {
      display: inline-block;
    }
  }
}

.taxonomy {
  margin: 2em 0;
  &-title {
    svg {
      height: 1.0em;
      width: 1.0em;
      // vertical-align: -0.25em;
    }
  }
  &-item {
    padding: 3px 20px;
    border-left: 1px solid #cacaca;

    transition: all 500ms ease-out;
    &:hover {
      border-left: 3px solid $nord8;
      transform: translateX(4px);
      .taxonomy-item-text {
        height: auto;
        opacity: 1;
        transition: all 300ms ease-out;
      }
    }

    &-summary {
      margin: 0.8em 0 0.8em 0;
    }


    &-time {
      margin-right: 10px;
      color: #757575;
    }

    &-text {
      height: 0;
      opacity: 0;
      position: relative;

    }
    &-title {
      margin-bottom: 0.6em;
    }

    &-title a {
      color: $text;
    }
  }
}
