{% import "macros/icons.html" as icons %}

{% macro footer_tags() %}
  {% if config.extra.footer_tags | length != 0 %}
    <div class="taxonomies-footer">
      <ul class="taxonomies-footer-items">
        |
        {% for tag in config.extra.footer_tags %}
          <li class="taxonomies-footer-item">
            {% set term = get_taxonomy_term(kind="tags", term=tag) %}
            {{ icons::render_tag_icon() }}
            <a href="{{ term.permalink }}">{{ term.name }}</a>
          </li>
          |
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endmacro footer_tags %}

{% macro footer_topics() %}
  {% if config.extra.footer_topics | length != 0 %}
    <div class="taxonomies-footer">
      <ul class="taxonomies-footer-items">
        |
        {% for topic in config.extra.footer_topics %}
          <li class="taxonomies-footer-item">
            {% set term = get_taxonomy_term(kind="topics", term=topic) %}
            <!-- icon?? -->
            <a href="{{ term.permalink }}">{{ term.name }}</a>
          </li>
          |
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endmacro footer_topics %}

{% macro rss_feed() %}
  {% if config.generate_feed %}
    <a href="{{ config.feed_filename }}">
      {{ icons::render_rss_icon() }}
    </a>
  {% endif %}
{% endmacro rss_feed %}

{% macro copyright() %}
  {% if config.extra.copyright %}
    <p>
      <span class="copyright">&copy;</span>
      {{ now() | date(format="%Y") }}
      <a href="{{ config.base_url }}">{{ config.extra.author }}</a>.
      {{ config.extra.copyright }}.
    </p>
  {% else %}
    <p>
      <span class="copyright">&copy;</span>
      {{ now() | date(format="%Y") }}
      <a href="{{ config.base_url }}">Sleek theme</a>.
      Powered by Zola.
    </p>
  {% endif %}
{% endmacro copyright %}

{# vim: set ft=htmldjango #}
