{% import "macros/utils.html" as utils %}

{% macro render_mathjax() %}
{% endmacro render_mathjax %}

{% macro make_header() %}
  {% set logo = config.extra.sleek_logo %}
  {% set abbr = config.extra.sleek_abbr %}
  {{ utils::make_header_logo(logo=logo, abbr=abbr) }}
  {% set menu = config.extra.sleek_menu %}
  {{ utils::make_header_menu(menu=menu) }}
{% endmacro header %}

{% macro make_footer() %}
  {{ utils::make_footer_copyright() }}
  {{ utils::make_footer_taxonomies() }}
{% endmacro make_footer %}
