{% import "macros/icons.html" as icons %}

{% macro make_logo(logo="", abbr="") %}
  <a class="logo" href="{{ config.base_url }}">
    {% if logo | length != 0 %}
      <img class="logo-content" src="{{ get_url(path=logo) }}" alt="{{ abbr }}"/>
    {% elif abbr | length != 0 %}
      <span class="logo-content">{{ abbr }}</span>
    {% else %}
      <span class="logo-content">{{ config.base_url }}</span>
    {% endif %}
  </a>
{% endmacro make_logo %}

{% macro make_navbar(menu) %}
  <nav class="navbar-menu">
    <menu class="navbar-menu-items">
      {% for target in menu %}
        <li class="navbar-menu-item">
          <a href="{{ config.base_url ~ target.link }}">
            {{ target.name }}
          </a>
        </li>
      {% endfor %}
      <li class="navbar-menu-item">
        <form class="navbar-search">
          <input id="navbar-search-input"
                 type="search"
                 autocomplete="off"
                 placeholder="Search..."/>
          <button id="navbar-search-button" type="sumbit">
            {{ icons::render_magnifying_glass() }}
          </button>
        </form>
      </li>
    </menu>
  </nav>
{% endmacro make_menu %}
