{% macro title(page) %}
  <header class="post-header">
    <h1 class="post-title">
      <a href="{{ page.permalink }}">{{ page.title }}</a>
    </h1>
    <div class="post-meta">
      {% if config.extra.sleek_author %}
        <span class="post-author">
          {{ config.extra.sleek_author }}
        </span>
        |
      {% endif %}
      {% if page.taxonomies.topics %}
        <span class="post-topic">
          {% set topic = page.taxonomies.topics.0 %}
          <a href="{{ get_taxonomy_url(kind="topics", name=topic) }}">
            {{ topic }}
          </a>
        </span>
        |
      {% endif %}
      <span class="post-time">{{ page.date | date(format="%F") }}</span>
      {% if page.taxonomies.keywords %}
        <div class="post-keywords">
          Keywords:
          {% for keyword in page.taxonomies.keywords %}
            <a href="{{ get_taxonomy_url(kind="keywords", name=keyword) }}">
              {{ keyword }}
            </a>{% if not loop.last %},{% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </header>
{% endmacro title %}

{% macro toc(page) %}
  {% if page.toc %}
    <aside class="post-toc">
      <h2 class="post-toc-title">Contents</h2>
      <nav class="table-of-contents">
        <menu class="toc-links">
          {% for h1 in page.toc %}
            <li>
              <a href="{{ h1.permalink | safe }}" class="toc-link">
                {{ h1.title }}
              </a>
              {% if h1.children %}
                <menu class="toc-links">
                  {% for h2 in h1.children %}
                    <li>
                      <a href="{{ h2.permalink | safe }}" class="toc-link">
                        {{ h2.title }}
                      </a>
                    </li>
                  {% endfor %}
                </menu>
              {% endif %}
            </li>
          {% endfor %}
        </menu>
      </nav>
    </aside>
  {% endif %}
{% endmacro toc %}
