@use "../abstracts/all" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  @include font-smoothing();
  line-height: 1.6;
  letter-spacing: 0.06em;
  background: $background;
  font-size: 1.2rem;
}

h1 {
  font-size: 3.0rem;
  font-weight: $black;
}

h2 {
  font-size: 2.5rem;
  font-weight: $extra-bold;
}

h3 {
  font-size: 2.0rem;
  font-weight: $bold;
}

// p {
//   font-weight: $medium;
// }

menu {
  // font-size: 1.2rem;
  font-weight: $medium;
}

footer {
  font-weight: $light;
}

/* style regular text */
body,
button,
input,
select,
textarea {
  font-family: $font, sans-serif;
  color: $text;
  // text-rendering: optimizeLegibility;
}

/* handle buttons */
button {
  font-weight: $medium;
  font-size: 1.6rem;
  color: $text;
  text-decoration: none;

  padding: 9x 25px;
  // background-color: rgba(0, 136, 169,1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  // @include animations.underline-from-center;
  transition: all 0.3 ease 0s;
  &:hover {
    color: $nord8;
  }
}


/* style monospace text */
pre,
code,
pre tt {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $code-font, monospace;
}

pre {
  max-height: 40em;
  padding: 0.7em 1.1em;
  overflow: auto;
  font-size: 0.9rem;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #eee;
  border-radius: 4px;
  -webkit-overflow-scrolling: touch;

  code {
    padding: 0;
    margin: 0;
    background-color: $nord0;
    // background: $theme1;
  }
}

p > a {
  vertical-align: bottom;
}

pre {
  padding: 1em;
  overflow: auto;
}
// The line numbers already provide some kind of left/right padding
pre[data-linenos] {
  padding: 1em 0;
}
pre table td {
  padding: 0;
}
// The line number cells
pre table td:nth-of-type(1) {
  text-align: center;
  user-select: none;
}
pre mark {
  // If you want your highlights to take the full width.
  display: block;
  // The default background colour of a mark is bright yellow
  background-color: rgba(254, 252, 232, 0.9);
}

pre table {
  width: 100%;
  border-collapse: collapse;
}
code {
  color: #eee;
  background: $highlight-grey;
  border-radius: 3px;
  padding: 0 3px;
  margin: 0 4px;
  word-break: break-all;
  letter-spacing: normal;
}

blockquote {
  border-left: 0.25em solid;
  margin: 1em;
  padding: 0 1em;
  font-style: italic;

  cite {
    font-weight: bold;
    font-style: normal;

    &::before {
      content: "—— ";
    }
  }
}

a {
  @include underline-from-center();
  transition: color 0.4s ease-out;
  color: $text;
  text-decoration: none;
  border: none;

  &:hover {
    color: $nord8;
  }

  &:focus {
    outline: none;
  }
}

hr {
  opacity: 0.5;
  border-width: 0 0 2px 0;
  background: transparent;
  width: 100%;
  margin: 1.8em auto;
  color: off-white;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  width: 100%;
  max-width: 100%;

  th,
  td {
    padding: 1.5%;
    border: 1px solid;
  }

  th {
    font-weight: 700;
    vertical-align: bottom;
  }
}

summary {
  // removes default triangle;
  display: block;
  &::after {
    display: inline-block;
    content: url("/images/chevron-right-nord6.svg");
    transition: 0.25s;
  }
}

details {
  &> summary {
    list-style: none;
    outline: none;
    cursor: pointer;
  }
}

details[open] > summary::after {
  transform: rotate(90deg);
}
