
@use "../abstracts/all" as *;
//
// 404
//

#spotlight.error-404 {
  .img-404 {
    object-fit: scale-down;
  }

  .btn-nav {
    flex-flow: column wrap;
    justify-content: center;
    @include flexbox();
    #search-btn {
      fill: $text;
      padding-bottom: 0.1em;
      // margin-bottom: 0.1em;
    }
  }

  .btn-404 {
    // font-size: 0.8em;
    a {
      display: inline-block;
      border: 2px solid $text;
      border-radius: 5px;
      padding: 0.25rem;
      transition-property: color, border-color;
      word-break: break-all;

      &:first-child {
        margin-right: 1em;
      }

      &:hover {
        border-color: #fff;
      }
    }
  }

  .banner-404 {
    margin-left: 2em;
    // display: flex column;
    // justify-content: center;

    h1 {
      text-align: center;
      font-size: 3em;
      margin: 0.5rem 0;
    }

    p {
      text-align: center;
      margin-top: 0;
      margin-bottom: 0.6em;
    }


    svg {
      height: 1em;
      width: 1em;
      padding-top: 0.125em;
    }

  }
}
