@use "../abstracts/all" as *;

//
// 404
//
#error-page {
  nav {
    @include flexbox();
    flex-flow: column wrap;
    justify-content: center;
    #search-btn {
      fill: $text;
      padding-bottom: 0.1em;
      // margin-bottom: 0.1em;
    }
  }
}

.spotlight {
  &-404-img {
    object-fit: scaledown;
  }
  &-404-button {
    // font-size: 0.8em;
    a {
      display: inline-block;
      border-radius: 50%;
      text-align: center;
      padding: 0.5em;
      transition-property: color, border-color;
      word-break: break-all;

      &:hover {
        border-color: #fff;
      }
    }

  }
  &-404-banner {
    margin-left: 2em;
    // display: flex column;
    // justify-content: center;

    h1 {
      text-align: center;
      font-size: 3em;
      margin: 0.5rem 0;
    }

    p {
      text-align: center;
      margin-top: 0;
      margin-bottom: 0.6em;
    }


    svg {
      height: 1em;
      width: 1em;
      padding-top: 0.125em;
    }

  }

}
