@use "../abstracts/all" as *;

#home-page {
  @include keyframes(fade) {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  @include animate(fade, 1s, ease-out, 1);
}

.spotlight {
  &-center {
    @include flex(1 1 auto);
    flex-flow: column wrap;
    justify-content: center;
  }

  &-title {
    margin: auto;
    text-align: center;
  }

  &-quote {
    text-align: center;
    line-height: normal;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: $semi-bold;
    margin-top: 1.0em;
  }

  &-social-icons {
    font-size: 1.4em;
    text-align: center;
    opacity: 0.8;
    a {
      margin: 0 0.2em;
    }
  }
}

