@use "../abstracts/all" as *;

.home {
  &-center {
    width: 80%;
    margin: 0.25em;
  }

  &-title {
    margin: auto;
    text-align: center;
    font-size: $font-size-h1 * $harmonic-scalar;
  }

  &-subtitle {
    text-align: center;
    line-height: normal;
    font-size: $font-size-h4;
    font-style: italic;
    font-weight: $semi-bold;
    margin: 0.25em;
  }

  &-social-icons {
    // font-size: 1.4rem;
    text-align: center;
    opacity: 0.8;
    a {
      margin: 0.33em 0.25em;
    }
  }
}
