@use "../abstracts/all" as *;

.search-page-bar {
  justify-content: start;
  width: 100%;
  max-height: 5%;
}

#search-page form {
  border-radius: 10px;
}
.search-results {
  @include flexbox();

  flex-flow: row wrap;
  align-self: flex-start;
  // margin: auto;
  // justify-content: start;
  // display: flex;
  // padding: 10px 0px 10px 0px;
  &-items {
    @include flex(1 0 auto);

    margin: auto;
    width: 100%;
    list-style: none;
  }

  &-item {
    min-width: 0;
    border: 2px solid $off-white;
    border-radius: 10px;
    margin: 1rem 0 1rem 0;
    // margin-top: 1rem;

    padding: 5px 5px 5px 5px;
    // padding-bottom: 5px;
    // margin: auto;
    // min-height: 0;
    // justify-self: start;
    a {
      font-size: 1.2rem;
      display: inline-block;
      margin-bottom: 0.5rem;
    }
  }
}

