{% import "macros/macros.html" as macros %}
{% import "macros/icons.html" as icons %}

{# template #}
<!DOCTYPE html>
<html lang="{{ config.default_language }}">
  <head>
    {% block head %}
      {% block meta %}
        <meta charset="UTF-8"/>
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0"/>
        <meta name="apple-mobile-web-app-capable"
            content="yes"/>
        {% if config.extra.author %}
          <meta name="author"
                content="{{ config.extra.author }}"/>
        {% endif %}
        {% if page.description %}
          <meta name="description"
                content="{{ page.description }}"/>
        {% elif section.description %}
          <meta name="description"
                content="{{ section.description }}"/>
        {% elif config.description %}
          <meta name="description"
                content="{{ config.description }}"/>
        {% endif %}
      {% endblock meta %}
      {% block favicon %}
        <link rel="manifest"
              href="{{ get_url(path="site.webmanifest") }}"/>
        <link rel="shortcut icon"
              href="{{ get_url(path="icons/favicon.ico") }}"/>
        <link rel="icon"
              type="image/png"
              sizes="16x16"
              href="{{ get_url(path="icons/favicon-16x16.png") }}"/>
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href="{{ get_url(path="icons/favicon-32x32.png") }}"/>
        <link rel="apple-touch-icon"
              sizes="180x180"
              href="{{ get_url(path="icons/apple-touch-icon.png") }}"/>
      {% endblock favicon %}
      {% block css %}
        <link rel="stylesheet"
              href="{{ get_url(path="site.css") }}"/>
      {% endblock css %}
      {% if config.extra.sleek_mathjax %}
      {% endif %}
      {% block rss %}
        {% if config.generate_feed and config.feed_filename == "atom.xml" %}
          <link rel="alternate"
                type="application/atom+xml"
                href="{{ get_url(path="atom.xml") }}"/>
        {% endif %}
        {% if config.generate_feed and config.feed_filename == "rss.xml" %}
          <link rel="alternate"
                type="application/rss+xml"
                href="{{ get_url(path="rss.xml") }}"/>
        {% endif %}
      {% endblock rss %}
      {% block canonical %}
        {% if page.extra.canonical %}
          <link rel="canonical" href="{{ page.extra.canonical }}"/>
        {% elif section.extra.canonical %}
          <link rel="canonical" href="{{ section.extra.canonical }}"/>
        {% else %}
          <link rel="canonical" href="{{ current_url }}"/>
        {% endif %}
      {% endblock canonical %}
      {% block title %}
        <title>
          {% if page.title %}
            {{ page.title }}
          {% elif section.title %}
            {{ section.title }}
          {% elif config.title %}
            {{ config.title }}
          {% else %}
            {{ config.base_url }}
          {% endif %}
        </title>
      {% endblock title %}
      {% block js %}
        <script defer src="{{ get_url(path="main.js") }}"></script>
      {% endblock js %}
    {% endblock head %}
  </head>
  <body>
    {% block body %}
      <header>
        {% block page_header %}
          {% block logo %}
            {% if config.extra.sleek_logo and config.extra.sleek_abbr %}
              <a class="logo" href="{{ config.base_url }}">
                <img class="logo-content"
                     src="{{ get_url(path=config.extra.sleek_logo) }}"
                     alt="{{ config.extra.sleek_abbr }}"/>
              </a>
            {% endif %}
          {% endblock logo %}
          {% block menu %}
            <nav>
              <menu class="navbar-menu-items">
                {% for target in config.extra.menu_links %}
                  {% if target.name %}
                    <li class="navbar-menu-item">
                      {% if target.url %}
                        <a href="{{ target.url }}">
                          {{ target.name }}
                        </a>
                      {% endif %}
                      {% if target.link %}
                        <a href="{{ config.base_url ~ target.link }}">
                          {{ target.name }}
                        </a>
                      {% endif %}
                    </li>
                  {% endif %}
                {% endfor %}
                <li class="navbar-menu-item">
                  <search>
                    <form class="navbar-search">
                      <input id="navbar-search-input"
                             type="search"
                             autocomplete="off"
                             placeholder="Search..."/>
                      <button id="navbar-search-button" type="submit">
                        {{ icons::render_magnifying_glass() }}
                      </button>
                    </form>
                  </search>
                </li>
              </menu>
            </nav>
          {% endblock menu %}
        {% endblock page_header %}
      </header>
      <main>
        {% block page_body %}
          <div class="content">
          </div>
        {% endblock page_body %}
      </main>
      <footer>
        {% block page_footer %}
          {% if config.extra.copyright and config.extra.author %}
            <div class="copyright">
              <span class="copyright-symbol">
                &copy;
              </span>
              <span class="copyright-date">
                {{ now() | date(format="%Y") }}
              </span>
              <a href="{{ config.base_url }}">
                {{ config.extra.author }}
              </a>.
              <span class="copyright-text">
                {{ config.extra.copyright }}.
              <span>
            </div>
          {% else %}
            <div class="copyright">
              <span class="copyright-symbol">
                &copy;
              </span>
              <span class="copyright-date">
                {{ now() | date(format="%Y") }}
              <span>
              <a href="{{ config.base_url }}">
                Sleek
              </a>.
              <span class="copyright-text">
                Powered by Zola.
              </span>
            </div>
          {% endif %}
          {{ macros::footer_tags() }}
          {{ macros::footer_topics() }}
          {{ macros::rss_feed() }}
        {% endblock page_footer %}
      </footer>
    {% endblock body %}
  </body>
</html>
