{% import "macros/macros.html" as macros %}
{% import "macros/social.html" as social %}
{% import "macros/icons.html" as icons %}

{% extends "base.html" %}


{% block page_body %}
  <main class="spotlight" id="home-page">
    <h1 class="spotlight-title">
      {{ config.title }}
    </h1>
    <search>
      <form class="search">
        <input id="search-input"
               type="search"
               autocomplete="off"
               placeholder="Search..."/>
        <button id="search-button" type="submit">
            {{ icons::render_magnifying_glass() }}
        </button>
      </form>
    </search>
    <div class="spotlight-center">
      <p class="spotlight-quote">
        {{ config.extra.sleek_quote }}
      <p>
      <div class="spotlight-social-icons">
        {{ social::render_social_icons() }}
        {{ macros::rss_feed() }}
      </div>
    </div>
  </main>
{% endblock page_body %}
