{% import "macros/icons.html" as icons %}
{% extends "base.html" %}

{#
{% block head %}
  {% if config.generate_feed %}
    <link rel="alternate" type="application/rss+xml" title="RSS"
          href="{{ get_url(path=config.feed_filename, trailing_slash=false) }}"/>
  {% endif %}
{% endblock head %}
#}

{% block content %}
  {% filter indent() %}
    <div id="spotlight" class="animated fadeIn">
      <h1 class="spotlight-title">{{ config.title }}</h1>
      <div class="spotlight-search">
        <form class="search-container">
          <input id="spotlight-search"
                 type="search"
                 autocomplete="off"
                 placeholder="Search..."/>
          <button id="spotlight-button" type="submit">
            {{ icons::render_magnifying_glass() }}
          </button>
          <!-- <div class="search-suggestions"> -->
            <!-- <ul class="search-suggestions-items"> -->
            <!-- </ul> -->
          <!-- </div> -->
        </form>
      </div>
      <div class="search-padding"></div>
      <div class="spotlight-center">
        <p class="spotlight-quote">{{ config.extra.sleek_quote }}</p>
        <div class="social-icons">{{ icons::render_social_icons() }}</div>
    {#
    {% if config.extra.sleek_image != "" %}
    <image class="rounded" src="{{ config.extra.sleek_image }}"/>
    {% endif %}
    #}
      </div>
    </div>
  {% endfilter %}
{% endblock content %}

{% block script %}
  {#<script src="{{ get_url(path="elasticlunr.min.js") }}"></script>
    <script src="{{ get_url(path="suggest.js") }}"></script> #}
  <script src="{{ get_url(path="main.js") }}"></script>
{% endblock script %}
