{% import "macros/icons.html" as icons %}
{% extends "layout.html" %}

{% block head %}
{% if config.generate_feed %}
  <link rel="alternate" type="application/rss+xml" title="RSS"
    href="{{ get_url(path=config.feed_filename, trailing_slash=false) }}"/>
{% endif %}
{% endblock head %}

{% block content %}
<div id="spotlight" class="animated fadeIn">
  <h1 class="spotlight-title">{{config.title}}</h1>
  <div class="spotlight-center">
    <div class="spotlight-search">
      <input id="search" type="search" placeholder="🔎 Search..."/>
      <div class="search-results">
        <div class="search-results-items"></div>
      </div>
    </div>
    <p class="spotlight-quote">{{config.extra.sleek_quote}}</p>
    <div class="social-icons">
      {{ icons::render_social_icons() }}
    </div>
    {% if config.extra.sleek_image != "" %}
    <image class="rounded" src="{{ config.extra.sleek_image }}"/>
    {% endif %}
  </div>
</div>
{% endblock content %}
<!-- vim: ft=htmldjango -->
