{% import "macros/macros.html" as macros %}

<!DOCTYPE html>
{% if config.default_language %}
<html lang="{{config.default_language}}">
{% else %}
<html lang="en">
{% endif %}
  <head>
    <!-- preamble must come first for rendering -->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta name="apple-mobile-web-app-capable" content="yes"/>

    {% if config.extra.sleek_author %}
    <meta name="author" content="{{ config.extra.sleek_author }}"/>
    {% endif %}

    {% if page.description %}
    <meta name="description" content="{{ page.description }}"/>
    {% elif section.description %}
    <meta name="description" content="{{ section.description }}"/>
    {% elif config.description %}
    <meta name="description" content="{{ config.description }}"/>
    {% endif %}

    {% if page.title %}
    <title>{{ page.title }}</title>
    {% elif section.title %}
    <title>{{ section.title }}</title>
    {% elif config.title %}
    <title>{{ config.title }}</title>
    {% else %}
    <title>{{ config.base_url }}</title>
    {% endif %}


    <link rel="shortcut icon" href="{{ get_url(path="icons/favicon.ico") }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ get_url(path="icons/apple-touch-icon.png") }}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ get_url(path="icons/favicon-32x32.png") }}"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{{get_url(path="icons/favicon-16x16.png") }}"/>
    <link rel="manifest" href="{{ get_url(path="icons/site.webmanifest") }}"/>

    {#
    {% if config.extra.sleek_mathjax %}
    {{ macros::mathjax() }}
    {% endif %}
    #}

    <link rel="stylesheet" href="{{ get_url(path="site.css") }}"/>

    {% block head %}
    {% endblock head %}
  </head>
  <body>
    <div class="page">
      <header class="page-header">
        {% block header %}
        <a class="logo" href="{{ get_url(path="/") }}">
          {% if config.extra.sleek_logo != "" %}
          <img src="{{ config.extra.sleek_logo }}" alt="logo"/>
          {% else %}
          <p><b><i>{{ config.extra.sleek_abbr }}</i></b></p>
          {% endif %}
        </a>
        <nav>
          <menu class="nav-links">
            {% for target in config.extra.sleek_navbar %}
            <li>
              <a href="{{ config.base_url ~ target.link }}">
                  {{ target.name }}
              </a>
            </li>
            {% endfor %}
            <li>
              <a href="{{ config.base_url ~ "/search" }}">
                  <i class="fa fa-search"></i>
              </a>
            </li>
          </menu>
        </nav>
      {% endblock header %}
      </header>

      <div class="page-body">
        {% block content %}
        <div class="content">
        </div>
        {% endblock content %}
      </div>

      <footer class="page-footer">
        {% block footer %}
        <p>&copy; {{ now() | date(format="%Y") }}
          <a href="{{ config.base_url }}">{{ config.extra.sleek_author }}</a>.
          {{ config.extra.sleek_copyright }}
        </p>
        <!-- <hr> -->
        <div class="taxonomies-container">
          <div class="taxonomies">
            {% set tags = get_taxonomy(kind="tags") %}
            {% for tag in tags.items %}
            <i class="fa fa-tag"></i>
            <a href="{{ tag.permalink }}">{{ tag.name }}</a>
            <span class="count">{{ tag.pages | length }}</span>&nbsp;
            {% endfor %}
            {#<br/>
            <i class="fa solid fa-tags"></i>
            {{ tags.items | length }} tags in total
            #}
          </div>
        </div>


        {% endblock footer %}
      </footer>
    </div>
    {% block script %}
    <script src="{{ get_url(path="main.js") }}"></script>
    {% endblock script %}
  </body>
</html>
