{% import "macros/posts.html" as posts %}
{% import "macros/icons.html" as icons %}

{% extends "base.html" %}

{% block js %}
  {% if page.extra.mathjax %}
    <script async src="{{ get_url(path="math.js") }}"></script>
  {% endif %}
  {{ super() }}
{% endblock js %}

{% block page_body %}
  <div class="content">
    <div class="posts">
      <article class="post">
        {{ posts::title(page=page) }}
        {{ posts::toc(page=page) }}
        <div class="post-content">
          {{ page.content | safe }}
        </div>
        <footer class="post-footer">
          {% if page.taxonomies.tags %}
            <br/>
            <div class="post-tags">
              {% for tag in page.taxonomies.tags %}
                <a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">
                  #{{ tag }}
                </a>&nbsp;
              {% endfor %}
            </div>
          {% endif %}
          <hr/>
          {% if page.lower or page.higher %}
            <nav class="pagination">
              {% if page.lower %}
                <div class="prev">
                  {{ icons::render_chevrons_left() }}
                  <a href="{{ page.lower.permalink }}">
                    {{ page.lower.title }}
                  </a>
                </div>
              {% endif %}
              {% if page.higher %}
                <div class="next">
                  <a href="{{ page.higher.permalink }}">
                    {{ page.higher.title }}
                  </a>
                  {{ icons::render_chevrons_right() }}
                </div>
              {% endif %}
            </nav>
          {% endif %}
        </footer>
      </article>
    </div>
  </div>
{% endblock page_body %}
