{% import "macros/icons.html" as icons %}
{% extends "base.html" %}

{% block content %}
  <div class="content">
    <div class="search-page-bar">
      <form class="search-container">
        <input id="main-search" type="search" autocomplete="off" placeholder="Search ..."/>
        <button id="main-button" type="submit">
          {{ icons::render_magnifying_glass() }}
        </button>
      </form>
    </div>
    <div class="search-results">
      <ul class="search-results-items">
      </ul>
    </div>
  </div>
{% endblock content %}

{% block script %}
  <script src="{{ get_url(path="elasticlunr.min.js") }}"></script>
  <script src="{{ get_url(path="main.js") }}"></script>
  <script src="{{ get_url(path="search.js") }}"></script>
{% endblock script %}
