{% import "macros/icons.html" as icons %}

{% extends "base.html" %}

{% block js %}
  {{ super() }}
  <script src="{{ get_url(path="elasticlunr.min.js") }}"></script>
  <script src="{{ get_url(path="search.js") }}"></script>
{% endblock js %}

{% block page_body %}
  <div class="content">
    <search>
      <form class="search">
        <input id="search-input"
               type="search"
               autocomplete="off"
               placeholder="Search ..."/>
        <button id="search-button" type="submit">
          {{ icons::render_magnifying_glass() }}
        </button>
      </form>
    </search>
    <div class="search-results">
      <ul class="search-results-items"></ul>
    </div>
  </div>
{% endblock page_body %}
