@use "../abstracts/all" as *;

.copyright {
  font-size: 1.0em;
  // font-weight: $bold;
}

.footer-content {
  @include flexbox();
  @include flex-flow(row wrap);
  @include justify-content(center);
}

.taxonomies-footer {
  width: 100%;
  font-size: 0.8em;
  // display: flex;
  // margin: auto;
  // align-items: center;
  &-items {
    // justify-content: center;
    list-style: none;
    > li {
      display: inline-block;
    }
  }
}
