@use "../abstracts/all" as *;

@mixin expand() {
  width: 300px;
  padding: 0 6px;
}

.logo {
  @include margin($right:auto);

  img,
  svg {
    cursor: pointer;

  }

  &-content {
    height: 50px;
    width: 50px;
  }
}

.navbar-menu {
  &-items {
    list-style: none;
  }
  &-item {
    display: inline-block;
    padding: 0px 20px;
  }
}

.navbar-search {
  @include flexbox();
  border: 2px solid $off-white;
  border-radius: 10px;
  width: auto;
  height: 1.6em;
  overflow: hidden;

  input {
    outline: none;
    width: 0;
    background: transparent;
    color: $text;
    @include flex(1 0 auto);
    transition: width .4s cubic-bezier(0.18, 0.89, 0.32, 1.33);
    border-radius: inherit;
    border: none;
    padding-left: 15px;
    &:focus,
    &:not(:placeholder-shown) {
      @include expand();
    }
  }

  &:hover > input {
    @include expand();
  }

  svg {
    @include padding($bottom:0.5em, $right:0.5em);
    height: 1.0em;
    width: 1.0em;
  }

  button {
    display: inline-block;
    background: transparent;
    border: none;
    margin-left: auto;
    font-size: 1.8em;
  }
}
