@use "../abstracts/flexbox" as fb;
@use "../abstracts/variables" as *;

//
// spotlight
//

#spotlight {
  flex-flow: column wrap;

  align-items: center;
  justify-content: center;

  margin: auto;
  max-width: 93%;
  font-size: 1.5em;

  @include fb.flexbox();
  &.error-404 {
    // flex-flow: column wrap;
    line-height: normal;
  }
}

.spotlight-center {
  flex-flow: column wrap;
  justify-content: center;
  @include fb.flex(1 1 auto);
}

.spotlight-title {
  margin: auto;
  text-align: center;
}

.spotlight-quote {
  text-align: center;
  line-height: normal;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: $semi-bold;
}

.social-icons {
  font-size: 1.4em;
  text-align: center;
  opacity: 0.8;
  a {
    margin: 0 0.2em;
  }
}
